<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <link id="layuicss-layer" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/layer/default/layer.css?v=3.5.1" media="all">
    <link id="layuicss-laydate" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/laydate/default/laydate.css?v=5.3.1" media="all">
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css?t=1626897823424" media="all">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
</head>

<body>
  <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
  <script src="static/js/script.js"></script>

  <!-- 定义主界面 -->
<div class="layui-layout layui-layout-admin">

  <!-- 界面顶边栏 -->
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">GKY-AILab</div>

    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>
  </div>    

<!-- 侧边栏 -->
<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">

      <!-- 这个子菜单不会列出来 -->
      <li class="layui-nav-item"><a href="home">Home</a></li>
      <li class="layui-nav-item"><a href="TODO">Tutorial</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">Application<i class="layui-icon layui-icon-down layui-nav-more"></i></a>
        <dl class="layui-nav-child">
          <dd><a href="style_transfer">Style-transfer</a></dd>
          <dd><a href="TODO">other link</a></dd>
        </dl>
      </li>
    <span class="layui-nav-bar" style="top: 55px; height: 0px; opacity: 0;"></span></ul>
  </div>
</div>

  <!-- 内容主体区域 -->
<div class="layui-body">
  <!-- 这边是风格迁移功能栏 -->

  <!-- 功能栏占一块，避免太过突兀 -->
  <div class="layui-col-lg12" style="height: 50px; margin: 0; text-align: center;">
    <div>
      <h1 class = "layui-anim layui-anim-scale" style="text-align: center;">Style Transfer</h1>
    </div>
  </div>

  <div class="layui-container">  
    <!-- 第一行数据 包括图片和 一些按钮 -->
    <div class="layui-row" style="height: 400px;">

      <div class="layui-col-md2">
        <div class="layui-btn-container" style="height: auto; text-align: left;">
          <button type="button" class="layui-btn layui-btn-normal layui-anim layui-anim-scale" style="height: 40px; width: 85%; text-align: center;" id="startMatting">Init Matting</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 85%; text-align: center;" id="no_matting">No Background</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 85%; text-align: center;" id="background1">Background1</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 85%; text-align: center;" id="background2">Background2</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 85%; text-align: center;" id="background3">Background3</button>
        </div>
      </div>

      <div class="layui-col-md8">
        <div style="height: 400px; text-align: left;">
          <img src = "static/images/sunflower.jpg" id="stream" style="height: 120%; width: 85%;" class="layui-anim layui-anim-scale">
        </div>
      </div>

      <div class="layui-col-md2"> 
        <div class="layui-btn-container" style="height: auto; text-align: left;">  
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="mosaic">mosaic</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="bayanihan">bayanihan</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="lazy">lazy</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="starry">starry</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="tokyo_ghoul">tokyo</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="udnie">udnie</button>
          <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="wave">wave</button>
          <button type="button" class="layui-btn layui-btn-lg layui-btn-danger layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="webcam">Open Webcam</button>
        </div>

        <div class="layui-btn-container" style="height: auto; width: auto;">
          <button type="button" class="layui-btn layui-btn-normal layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="recordButton">record</button>
        </div>

        <div class="layui-btn-container" style="height: 200px; text-align: left;">
          <img src = "static/images/sunflower.jpg" id="qrcode" style="height: 75%; width: 80%;" class="layui-anim layui-anim-scale">
          <!-- <button type="button" class="layui-btn layui-btn-lg layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="test"></button> -->
        </div>
          
        <div>
          <button type="button" class="layui-btn layui-btn-lg layui-btn-warm layui-anim layui-anim-scale" style="height: 40px; width: 80%; text-align: center;" id="Display_QR_code"></button>
        </div>

      </div>
    </div>
  

  </div>
</div> <!-- 主界面 结束 -->

<script>
  // 选择对应的风格
  $(document).ready(function() {
    $('button').on('click', function() {
      // 如果发现是摄像头开启按钮 
      if ($(this).attr("id").toString() == 'webcam') {
        var withOpenWebcam = '';
        if (document.getElementById("webcam").innerHTML == 'Open Webcam') {
          withOpenWebcam = 'True';
          document.getElementById("webcam").innerHTML = 'Close Webcam';
          document.getElementById("stream").src = "{{ url_for('webcam_stream')}}"; 
        }
        else {
          withOpenWebcam = 'False';
          document.getElementById('webcam').innerHTML = 'Open Webcam';
          document.getElementById("stream").src = "static/images/sunflower.jpg";
          // window.location.href = "{{ url_for('style_transfer') }}";
        }

        var changeModel = 'False';
        var withTransferStyle = 'False';
        req = $.ajax({
            url : '/update',
            type : 'POST',
            data: { 
              with_webcam : withOpenWebcam,
              with_style : withTransferStyle, 
              change_model : changeModel, 
            }
        });
        req.done(function(data){
        });
      } else if ($(this).attr("id").toString() == 'recordButton') {
        // 如果点击的是录制按钮
        // 在打开录制功能之前，检查摄像头是否打开
        $.getJSON('/update_flask_state', function(data) {
          var withWebcam = data.with_webcam.toString();  // 检查webcam的状态

          if (withWebcam != "true"){
            // 如何摄像头还没有打开，提醒用户打开摄像头
            alert("Please open webcam !!")
          } else {
            // var transferStyle = document.getElementById('mosaic').innerHTML.toString();
            var withRecord = '';
            if (document.getElementById("recordButton").innerHTML == 'record') {
              withRecord = 'True';
              document.getElementById("recordButton").innerHTML = 'recording';
              // document.getElementById("recordButton").style = "";  // 尝试改变一下button的风格
            }
            else {
              withRecord = 'False';
              document.getElementById('recordButton').innerHTML = 'record';
            }

            req = $.ajax({
                url : '/update',
                type : 'POST',
                data: { with_record : withRecord }
            });
            req.done(function(data){ });
          }
        });
        // 抠图的初始化按钮与信号
      } else if ( $(this).attr("id").toString() == 'startMatting') {
        var withMattingInit = '';  // 抠图的信号 负责初始化一次

        $.getJSON('/update_flask_state', function(data) {
          var withWebcam = data.with_webcam.toString();  // 检查webcam的状态
          
          if (withWebcam != "true"){
            // 如何摄像头还没有打开，提醒用户打开摄像头
            alert("Please open webcam !!")
          } else {
            if (document.getElementById('startMatting').innerHTML == "Init Matting") {
              document.getElementById('startMatting').innerHTML = 'Restart Matting';
              withMattingInit = 'True';
            } else {
              document.getElementById('startMatting').innerHTML = 'Restart Matting';
              withMattingInit = 'False';
            }
            // 将抠图的初始化信号给后端
            req = $.ajax({
              url : '/update',
              type : 'POST',
              data: { 
                matting_init : withMattingInit }  
              });
            req.done(function(data){});
          }
        });

      } else if ($(this).attr("id").toString() == 'Display_QR_code') {
        
        $.getJSON('/update_flask_state', function(data) {
          var videoComplete = data.video_complete.toString();

          if (videoComplete == "true") {
            alert('Video Complete!');
            document.getElementById("qrcode").src = 'static/qrcode/qrcode_out.png';
            $("#qrcode").src = 'static/qrcode/qrcode_out.png';
          } else {
            alert('Please record First !');
          }

        });
 
      } else {
        // 如果点击的是风格迁移按钮
        // 点击其余供能之前应该检查是否打开了摄像头
        // 从后端提取状态信息
        var withTransferStyle = 'True';
        var transferStyle = $(this).attr("id").toString();
        var changeModel = 'True';

        $.getJSON('/update_flask_state', function(data) {
          var withWebcam = data.with_webcam.toString();  // 检查webcam的状态
          if (withWebcam != "true"){
            // 如何摄像头还没有打开，提醒用户打开摄像头
            alert("Please open webcam !!")
          } else {
            req = $.ajax({
              url : '/update',
              type : 'POST',
              data: { 
                with_style : withTransferStyle, 
                change_model : changeModel, 
                transfer_style : transferStyle}  
              });
            req.done(function(data){});
          }
        });
      }
    });
  });

  // 接收后端给的信号
  // $(document).ready(function() {
  //   $.getJSON('/update_flask_state', function(data) {
  //   var videoComplete = data.video_complete;    

  //   if (videoComplete == "true"){
  //     document.getElementById("test").innerHTML = "video complete!";
  //     alert('video complete !');

  //     document.getElementById("qrcode").src = 'static/qrcode/qrcode_out.png';

  //     videoComplete = 'False';  // 信号传递结束后，改状态为False传递给后端
  //     req = $.ajax({
  //       url : '/update',
  //       type : 'POST',
  //       data: { 
  //         video_complete : videoComplete }  
  //     });
  //     req.done(function(data){});
  //     } else { }
  //   });
  // });
  

</script>
</body>
</html>