<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <link id="layuicss-layer" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/layer/default/layer.css?v=3.5.1" media="all">
    <link id="layuicss-laydate" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/laydate/default/laydate.css?v=5.3.1" media="all">
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css?t=1626897823424" media="all">
</head>
<body>
  <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
  <script src="static/js/script.js"></script>

  <!-- 定义主界面 -->
<div class="layui-layout layui-layout-admin">

  <!-- 界面顶边栏 -->
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">GKYAILab</div>

    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>
      
      <!-- <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
      <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li> -->

      <!-- <li class="layui-nav-item">
        <a href="javascript:;">nav groups<i class="layui-icon layui-icon-down layui-nav-more"></i></a>
        <dl class="layui-nav-child layui-anim layui-anim-upbit">
          <dd><a href="">menu 11</a></dd>
          <dd><a href="">menu 22</a></dd>
          <dd><a href="">menu 33</a></dd>
        </dl>
      </li> -->
    </div>    

<!-- 侧边栏 -->
<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
      <!-- 这个表单是会将子菜单列出来 -->
      <!-- <li class="layui-nav-item layui-nav-itemed">  
        <a class="" href="javascript:;">menu group 1<i class="layui-icon layui-icon-down layui-nav-more"></i></a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">menu 1</a></dd>
          <dd><a href="javascript:;">menu 2</a></dd>
          <dd><a href="javascript:;">menu 3</a></dd>
          <dd><a href="">the links</a></dd>
        </dl>
      </li> -->

      <!-- 这个子菜单不会列出来 -->
      <li class="layui-nav-item"><a href="javascript:;">About</a></li>
      <li class="layui-nav-item"><a href="">Tutorial</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">Application<i class="layui-icon layui-icon-down layui-nav-more"></i></a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">Face-recognition</a></dd>
          <dd><a href="javascript:;">Style-transfer</a></dd>
          <dd><a href="">other Link</a></dd>
        </dl>
      </li>
    <span class="layui-nav-bar" style="top: 55px; height: 0px; opacity: 0;"></span></ul>
  </div>
</div>


<div class="layui-body">
  <!-- 内容主体区域 -->


  <!-- 这边是风格迁移功能栏 -->
  <div>
    <img src="{{ url_for('webcam_stream') }}">
  </div>
  
</div>

</div> <!-- 主界面 结束 -->
    
</body>
</html>